<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".GlobalClass"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountsActivity"></activity>
        <activity android:name=".AnalyticSubcategoryActivity" />
        <activity android:name=".AnalysisActivity" />
        <activity
            android:name=".AddTransactionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>